@charset "utf-8";

/* CSS Document */

body {
  min-width: 960px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: black;
  background: white;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}

.main-header {
  width: 940px;
  min-height: 317px;
  margin: 0px 130px;
}
.header-upper {
  padding: 6px 10px;
  display: flex;
  min-height: 42px;
  justify-content: space-between;
  margin-bottom: 0px;
}
.logo-title {
  margin-right: 10px;
}
.search-field {
  margin-right: 80px;
}
.bookmarks {
  margin-right: 20px;
}
/*main header info*/

.main-header-info {
  min-height: 156px;
}
.header-info {
  display: flex;
  justify-content: space-between;
}
.header-text {
  width: 251px;
  margin-left: 35px;
  margin-right: 58px;
}
.main-header-contacts {
  width: 300px;
  margin-right: 20px;
}
.user-block {
  width: 300px;
}
.header-lower {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 60px;
}
.main-nav {
  width: 940px;
  padding: 0px 10px;
}
.main-nav-list li {
  margin-right: 20px;
}

/*end of header*/


/*begining of main page*/

.main-page-nav {
  font-size: 0;
  margin: 0;
  padding: 20px 0 21px;
  list-style: none;
}

.main-page-nav li {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  position: relative;
  display: inline-block;
  padding-right: 40px;
  list-style: none;
  vertical-align: top;
  text-transform: uppercase;
}

.main-page-nav li::after {
  position: absolute;
  top: 3px;
  right: 15px;
  width: 8px;
  height: 12px;
  content: '';
  background: url('../img/sprite.png') no-repeat -2px -657px;
}

.main-page-nav li:last-child::after {
  display: none;
}

.main-page-nav a {
  display: block;
  text-decoration: none;
  color: #000;
}
.main-page-nav .home {
  font-size: 0;
  width: 15px;
  height: 12px;
  margin-top: 2px;
  background: url('../img/sprite.png') no-repeat -2px -643px;
}

.main-page-nav .active-page {
  color: #000;
}

.page-title {
  margin-left: 119px;
  width: 940px;
  height: 89px;
}

.page-title h2 {
  padding: 18px 20px;
  font-size: 30px;
  font-weight: normal;
  line-height: 38px;
  margin: 0;
  text-transform: uppercase;
  color: #32425c;
}


/*drill items section*/
.main-page {
  margin: auto;
  width: 1200px;
}
.drill-sorting {
  width: 700px;
}
.sorting-price {
  clear: both;
}

.filter-column {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  width: 220px;
  height: 746px;
  margin-right: 0px;
  overflow: hidden;
  clear: both;
}

.filter-title {
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  padding: 10px 19px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #f7f3ec;
  margin-bottom: 15px;
}
.range-filter {
  border-bottom: 2px solid red;
}
.filter-title span {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: block;
  float: left;
  color: #000;
  margin: 5px;
}

.range-title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 12px;
  margin: 0 0 23px 0;
  text-transform: uppercase;
  color: #000;
}

.range-controls {
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 80px;
  margin-bottom: 9px;
  padding: 0 20px;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.scale {
  height: 2px;
  margin-top: 39px;
  background: #d7dcde;
}

.bar {
  width: 150px;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid white;
  border-radius: 50%;
  background: #ababab;
}

.min-toggle {
  left: 20px;
}

.max-toggle {
  left: 160px;
  box-shadow: 0 2px 0 0 rgba(0, 1, 1, .14);
}

.price-controls {
  margin-bottom: 25px;
}

.price-controls input[type='number'] {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  display: block;
  float: left;
  width: 95px;
  height: 38px;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.price-controls span {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  display: block;
  float: left;
  width: 30px;
  padding: 10px 0;
  text-align: center;
  color: #444;
}

.price-controls input[type='number']:last-child {
  float: left;
}

.filter-manufacturers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 120px;
  width: 200px;
  margin-right: auto;
  padding: 15px 0px;
  margin-bottom: 20px;
}

.supply {
  display: flex;
  flex-direction: column;
  height: 115px;
  width: 220px;
}
.catalog-items {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 240px;
  padding: 15px;
}
.catalog-item {
  position: relative;
  vertical-align: top;
  width: 218px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}
.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("img_catalog/Shape_2.png") no-repeat 0 0;
}

.catalog-item .drill-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .drill-actions .buy, .catalog-item .drill-actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-item .drill-actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .drill-actions {
  display: none;
}

.catalog-item:hover .drill-actions {
  display: block;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}


/*drill items section ends
/*few words about*/

.few_words-about {
  width: 1200px;
  height: 261px;
  margin: auto;
  background-image: url(C:\Users\Eduard\Desktop\develop\img\Shape_2.png);
}
.few_words-about span {
  text-align: center;
}
.footer {
  display: flex;
  margin: auto;
  width: 940px;
}
.footer-left-column {
  float: left;
  width: 338px;
  height: 194px;
}
.footer-title {
  float: left;
  clear: both;
}
.footer-adress {
  float: left;
  clear: both;
}
.footer-right-column {
  width: 570px;
  height: 197px;
  float: right;
  clear: both;
  margin-left: 40px;
}
.footer-nav {
  display: inline-block;
  text-align: center;
}
.footer-nav ul {

}
.footer-nav li {
  float: left;
}
.footer-bar {
  width: 1200px;
  height: 104px;
}
.copyright {
  width: 230px;
  height: 75px;
  float: left;
}
.footer-social {
  width: 160px;
  height: 67px;
  float: left;
}
.feedback {
  width: 160px;
  height: 51px;
  float: left;
}
.footer-developer {
  width: 140px;
  height: 51px;
  float:left;
  margin-right: 0px;
}
