@charset "utf-8";

/* CSS Document */

body {
  min-width: 960px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: black;
  background: white;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  display: table;
  clear: both;
  content: '';
}


/*begining of the header*/

.main-header {
  background-color: #F1F5F7;
}


/*upper header begining*/

.header-upper {
  background-color: #293449;
}

.header-upper-container {
  width: 960px;
  margin: 0 auto;
  color: #FFFFFF;
  display: flex;
  min-height: 42px;
  justify-content: space-between;
  margin-bottom: 0px;
}

.logo-title {
  float: left;
  text-align: center;
  font-weight: 700;
  background: #EE3643;
  font-size: 24px;
  line-height: 42px;
  width: 220px;
  margin-right: 10px;
  padding: 15px 0px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.logo-title a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.bar-btn {
  text-decoration: none;
  color: #FFFFFF;
}

.search-field-header {
  width: 170px;
  padding: 12px 15px 12px 49px;
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
  margin-right: 10px;
}

.search-field-header input {
  margin-right: 80px;
  height: 32px;
  width: 230px;
  border: none;
  padding: 5px 0 5px 40px;
  background: #293449;
}

.search-field-header label {
  position: absolute;
  display: inline-block;
  top: 20px;
  width: 17px;
  height: 16px;
  background-image: url('../img/-icon-search.png');
  background-repeat: no-repeat;
}


/*boormarks*/

.header__bookmarks {
  width: 141px;
  margin-right: 20px;
  text-decoration: none;
}

.header__bookmarks a {
  text-transform: none;
  text-decoration: none;
  width: 78px;
  height: 15px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  padding: 12px 30px 12px 43px;
}

.header__bookmarks::before {
  content: "";
  display: inline-block;
  background: url('../img/-icon-bookmark.png');
  width: 14px;
  height: 16px;
  background-repeat: no-repeat;
}


/*bookmarks ends*/

.header__basket::before {
  display: inline-block;
  content: '';
  background: url('../img/-icon-basket.png');
  background-repeat: no-repeat;
  width: 17px;
  height: 16px;
}

.header__basket {
  /*background-color: #ee3643;*/
}

.header__basket a {
  padding: 14px 26px 13px 50px;
  text-decoration: none;
  width: 74px;
  height: 15px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.header__order {
  height: 42px;
  display: block;
  width: 150px;
  background-color: #63a63e;
}

.header__order a {
  padding: 14px 22px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #63A63E;
  text-decoration: none;
  line-height: 39px;
}


/*main header info*/

.header-info {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 46px 0 40px 0;
}

.header-text {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  float: left;
  width: 248px;
  margin: 0 20px 0 40px;
  color: #ee3643;
}

.main-header-contacts {
  float: left;
  width: 300px;
  width: 250px;
  position: relative;
}

.contacts-phone {
  padding: 8px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.contacts-address {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-block {
  width: 300px;
  font-size: 21px;
  font-weight: 400;
  line-height: 0.857;
  position: relative;
  padding: 12px 70px 12px 47px;
  margin: 0 0 5px;
}

.user-name::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 18px;
  background: url('../img/-icon-user');
  background-repeat: no-repeat;
}

.user-name {
  color: #000000;
  text-decoration: none;
  padding: 12px 25px;
  background: #FFFFFF;
  display: inline-block;
}

.user-name:after {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  background: url('../img/-icon-logout');
  background-repeat: no-repeat;
}

.user-block__orientation {
  width: 210px;
  height: 14px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
}

.user-orders .user-account {
  padding: 5px;
  display: inline-block;
  color: #32425c;
}

.user-orders:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #32425c;
}

.header-lower {
  width: 960px;
  background-color: #32425c;
  margin: 0 auto;
  border-bottom: 5px solid #293449;
}

.header-lower {
  padding: 0;
  font-size: 0;
}

.main-nav {
  padding: 0px 10px;
}

.main-nav-list {
  display: flex;
  justify-content: space-around;
  padding: 0px 10px;
}

.main-nav-list a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 17px;
  padding-top: 19px;
  padding-bottom: 19px;
}


/*end of header*/


/*begining of main page*/

.main-page-nav {
  font-size: 0;
  margin: 0;
  padding: 20px 0 21px;
  list-style: none;
}

.main-page-nav li {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  position: relative;
  display: inline-block;
  padding-right: 40px;
  list-style: none;
  vertical-align: top;
  text-transform: uppercase;
}

.main-page-nav li::after {
  position: absolute;
  top: 3px;
  right: 15px;
  width: 8px;
  height: 12px;
  content: '';
  background: url('../img/-icon-right');
  background-repeat: no-repeat;
}

.main-page-nav li:last-child::after {
  display: none;
}

.main-page-nav a {
  display: block;
  text-decoration: none;
  color: #000;
}

.main-page-nav .home {
  font-size: 0;
  width: 15px;
  height: 12px;
  margin-top: 2px;
  background: url('../img/-icon-home');
  background-repeat: no-repeat;
}

.main-page-nav .active-page {
  color: #000;
}

.page-title {
  margin: 0 auto;
  padding-left: 30px;
  width: 960px;
  height: 89px;
}

.page-title h2 {
  padding: 18px 20px;
  font-size: 30px;
  font-weight: normal;
  line-height: 38px;
  margin: 0;
  text-transform: uppercase;
  color: #32425c;
}


/*drill items section*/

.main-page {
  margin: auto;
  width: 960px;
}

.drill-sorting {
  float: right;
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
  margin: 0 0 60px;
}

.drill-sorting-list {
  text-align: center;
  display: inline-flex;
  list-style: none;
  padding-left: 0;
}

.sorting-price {
  margin-left: 60px;
  color: #ee3643;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.sorting-category {
  margin-left: 60px;
  height: 11px;
  opacity: 0.3;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px dotted #ee3643;
}

.sorting-price {
  clear: both;
}

.drill-sorting__up, .drill-sorting__down {
  display: inline-block;
}

.drill-sorting__up {
  background: url('../img/-icon-up-dir');
  background-repeat: no-repeat;
}

.drill-sorting__down {
  background: url('../img/-icon-down-dir');
  background-repeat: no-repeat;
}

.drill-sorting__down, .drill-sorting__up {
  padding: 10px;
  margin: 0 5px 0 46px;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  opacity: 0.5;
}


/*подключить шрифт
подчеркивание сылок
*/

.side-bar {
  float: left;
  width: 220px;
}

.filter-price {
  margin-bottom: 20px;
}

.filter-form {
  float: left;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-right: 0px;
  overflow: hidden;
  clear: both;
}

.filter-title {
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  padding: 10px 19px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #f7f3ec;
  margin-bottom: 35px;
}

.range-filter {
  width: 220px;
  border-bottom: 1px solid gray;
}

.filter-title span {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  display: block;
  float: left;
  color: #000;
  margin: 5px;
}

.range-title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 12px;
  margin: 0 0 23px 0;
  text-transform: uppercase;
  color: #000;
}

.range-controls {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 80px;
  margin-bottom: 9px;
  padding: 0 20px;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.scale {
  height: 2px;
  margin-top: 39px;
  background: #d7dcde;
}

.bar {
  width: 150px;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid white;
  border-radius: 50%;
  background: #ababab;
}

.min-toggle {
  left: 20px;
}

.max-toggle {
  left: 160px;
  box-shadow: 0 2px 0 0 rgba(0, 1, 1, .14);
}

.price-controls {
  margin-bottom: 25px;
}

.price-controls input[type='number'] {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  display: block;
  float: left;
  width: 95px;
  height: 38px;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.price-controls span {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  display: block;
  float: left;
  width: 30px;
  padding: 10px 0;
  text-align: center;
  color: #444;
}

.price-controls input[type='number']:last-child {
  float: left;
}

.filter-manufacturers {
  width: 220px;
}

.filter-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 120px;
  width: 200px;
  margin-right: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}

.manufacturers-title {
  width: 141px;
  height: 14px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.filter-list {
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  list-style-type: none;
}

.selecting__possibility input {
  display: none;
}

.selecting__possibility label {
  padding: 0 0 0 30px;
}

.selecting__posibility input[type="checkbox"]+label span {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url('../img/-icon-check-off.png');
  background-repeat: no-repeat;
  cursor: pointer;
}

.selecting__posibility input[type="checkbox"]:checked+label span {
  background: url('../img/-icon-check-on.png');
  background-repeat: no-repeat;
}

.checkbox, .radiobutton {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 0 20px;
}

.checkbox:last-child, .radiobutton:last-child {
  padding: 0;
}

.supply {
  display: flex;
  flex-direction: column;
  height: 115px;
  width: 220px;
  position: relative;
}

.supply-selecting__possibility input[type="radiobutton"] {
  display: none;
}

.supply-selecting__possibility input[type="radiobutton"] {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url('../img/-icon-circle-no.png');
  background-repeat: no-repeat;
  cursor: pointer;
}

.supply-selecting__possibility input[type="radiobutton"]:checked+label span {
  background: url('../img/-icon-circle-dot.png');
  background-repeat: no-repeat;
}

.supply-title {
  margin-bottom: 27px;
  width: 81px;
  height: 12px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-button__submit {
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.supply label {
  padding: 0 0 0 30px;
}

.checkbox label {
  background: url('#') no-repeat 0 -30px;
}


/* catalog items begin*/

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin: 20px auto;
}

.catalog-item {
  width: 218px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.catalog-items {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item .flag-new {
  background: url("img/Shape_2.png") no-repeat 0 0;
}

.catalog-item .drill-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .drill-actions .buy, .catalog-item .drill-actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-item .drill-actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .drill-actions {
  display: none;
}

.catalog-item:hover .drill-actions {
  display: block;
}

.breadcrumbs {
  width: 960px;
  margin: 0 auto;
}

.main-page-nav {
  padding: 0;
  margin: 20px 20px 20px 30px;
  position: relative;
}

.main-page-nav li {
  list-style: none;
  display: inline-block;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 20px;
}

.main-page-nav a {
  color: #000000;
  text-decoration: none;
}

.main-page-nav::before {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../img/-icon-home.png');
  background-repeat: no-repeat;
}

.main-page-nav li:first-child:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: url('#') no-repeat;
}

.main-page-nav li:first-child:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: url('#') no-repeat;
}

.main-page-nav li:last-child:before {
  position: absolute;
  width: 10px;
  height: 10px;
  background: url('../img/-icon-right.png');
  background-repeat: no-repeat;
}

.main-content {
  width: 740px;
  float: left;
}

.main-container {
  margin: 0 auto;
  width: 960px;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.paginator a {
  margin: 10px;
  display: inline-block;
  width: 38px;
  height: 38px;
  padding: 0 10px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
}

.paginator .current-button {
  border: 1px solid #ee3643;
  color: #b2b2b2;
  width: 5px;
  height: 10px;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.paginator__button {
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  width: 7px;
  height: 9px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.paginator .next-button {
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.next-button {
  width: 76px;
  height: 11px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

. .paginator a:hover {
  border: 1px solid red;
}


/*drill items section ends
/*few words about*/

.few_words__about {
  padding: 0px 10px;
  float: left;
  width: 960px;
  margin: 0 auto;
  height: 261px;
  background-color: #f2f6f8;
  color: #000000;
  font-weight: 400;
  line-height: 24px;
}

.few-word__about h2 {
  color: #000000;
  font-family: Cuprum;
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.few-word__about p {
  font-family: 'OpenSans', sans-serif;
  color: #000000;
  line-height: 24px;
  margin: 0;
}

.about-text {
  width: 940px;
  padding: 40px 0;
  margin: 0 auto;
}


/*footer*/

.upper-footer {
  background-color: #32425C;
}

.footer-wrapper {
  display: flex;
  width: 960px;
  margin: 0 auto;
}

.footer-left_column {
  float: right;
  width: 331px;
  margin: 0 auto;
}

.footer-title {
  width: 220px;
  height: 68px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  line-height: 64px;
  font-size: 30px;
}

.footer-adress {
  width: 322px;
  height: 40px;
  color: #f1f5f7;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-right_column {
  float: right;
  padding-top: 35px;
  width: 590px;
}

.footer-nav_list {
  display: flex;
  margin-bottom 35px;
  padding: 0;
}

.footer-nav_list li {
  list-style: none;
  padding-left: 40px;
}

.footer-nav_list a {
  text-decoration: none;
  color: #f1f5f7;
  padding: 10px;
}

.footer-nav_list a:hover {
  text-decoration: underline;
}

.footer-shop_list {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
}

.footer-shop_list li {
  list-style: none;
  padding-left: 35px;
}

.footer-shop_list a {
  color: #FFD180;
  text-decoration: none;
  padding: 10px;
}

.footer-shop_list a:hover {
  text-decoration: underline;
}


/*down-footer*/

.down-footer {
  background-color: #293449;
}

.footer-wrapper {
  padding: 40px 0;
  display: flex;
  width: 960px;
  margin: 0 auto;
}

.footer-copyright {
  float: left;
  width: 300px;
  height: 50px;
  margin: 0 30px 0 0;
}

.footer-copyright {
  width: 227px;
  height: 33px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.footer-social {
  float: left;
  width: 200px;
  margin-left: 120px;
  margin-right: 40px;
}

.social-icon {
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  line-height: 43px;
  border-radius: 50%;
  font: 0/0 a;
  color: transparent;
  background: #212A3A;
  text-shadow: none;
  margin-right: 5px;
}

.social_vk {
  background: #000000 url('../img/-icon-vk-copy.png');
  background-repeat: no-repeat;
}

.social_fb {
  background: #000000 url('../img/-icon-facebook-copy.png');
  background-repeat: no-repeat;
}

.social-instg {
  background: #000000 url('../img/-icon-instagramm-copy.png');
  background-repeat: no-repeat;
}

.social_vk:hover {
  background: #ee3643 url('../img/-icon-vk-copy.png');
}

.social_fb:hover {
  background: #ee3643 url('../img/-icon-facebook-copy.png');
}

.social-instg:hover {
  background: #ee3643 url('../img/-icon-instagramm-copy.png');
}

.footer-feedback {
  margin-right: 53px;
}

.footer-feedback a {
  color: #ffd180;
  text-decoration: none
}

.footer-feedback p {
  color: #ffffff;
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
}

.footer-feedback .main__to {
  margin-right: 0;
}

.footer-feedback .main__to:hover {
  color: #000000;
  background-color: #ffffff;
}

.footer-developer a {
  color: #ffd180;
  text-decoration: none
}

.footer-developer p {
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: center;
}

.footer-developer .reverense {
  margin-right: 0;
}

.footer-developer .reverense:hover {
  color: #000000;
  background-color: #ffffff;
}
