@charset "utf-8";

/* CSS Document */

body {
  font-family: "Pt Sans";
}

* {
  box-sizing: border-box;
}


/*.main-content__wrapper {
  position: relative;
  min-height: 100%;
  min-width: 970px;
  height: auto;
}
.main-content__wrapper::after {
  content: "";
  height: 300px;
  display: block;
}
.footer-bottom {
  min-width: 970px;
  height: 300px;
  margin-top: -81px;
}*/


/*header begins*/

header {
  display: flex;
  flex-direction: column;
  background-color: #f1f5f7;
}

.header-top {
  font-family: Cuprum;
  height: 42px;
  background-color: #293449;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.header-top__container {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 960px;
  text-decoration: none;
}

.logo {
  display: flex;
  width: 220px;
  height: 47px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-decoration: none;
  margin-right: 10px;
  text-transform: uppercase;
  margin-bottom: -5px;
}

.logo-btn {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  align-self: center;
  color: #ffffff;
  font-family: Cuprum;
  text-decoration: none;
  padding-left: 56px;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.search {
  position: relative;
  width: 240px;
}

.search__label {
  top: 13px;
  left: 7px;
  width: 17px;
  height: 17px;
  position: absolute;
  background: url(../img/search-icon.png);
  background-repeat: no-repeat;
  border: none;
}

.search__input {
  background-color: #293449;
  height: 42px;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 39px;
  border: 0 none;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  outline: none;
  width: 100%;
}

.search__input::-webkit-input-placeholder {
  color: #ffffff;
}

.search__input::-moz-placeholder {
  color: #ffffff;
}

.search__input::-moz-placeholder {
  color: #ffffff;
}

.search__input:-ms-input-placeholder {
  color: #ffffff;
}

.search:hover,
.search:hover .search__label {
  background-color: #212a3a;
  color: #ffffff;
}

.search__input:focus,
.search__input:focus+.search__label {
  background-color: #ffffff;
}

.search__input:focus {
  color: #000000;
}

.search__input:focus+.search__label {
  color: #ee3643;
}


/*top-header__menu*/

.top-header__menu {
  display: flex;
  margin: 0;
  padding-left: 0;
  margin-left: 39px;
}

.menu-item {
  display: flex;
  width: 140px;
  height: 42px;
  list-style-type: none;
  text-align: center;
}

.bookmark__btn:hover,
.basket__btn:hover {
  background-color: #212a3a;
}

.bookmark__btn:active,
.basket__btn:active {
  background-color: #161d29;
  color: #a2a4a6;
}

.menu-order {
  display: flex;
  width: 150px;
  height: 42px;
  list-style-type: none;
  background-color: #63a63e;
  font-size: 17px;
}

.menu-order:hover {
  background-color: #5fbb2d
}

.menu-order:active {
  background-color: #518534;
}

.menu-link {
  position: relative;
  color: #ffffff;
  font-family: Cuprum;
  text-decoration: none;
  padding-top: 12px;
}

.menu-link__order {
  padding-top: 11px;
}

.bookmark-icon::before {
  position: absolute;
  content: "";
  top: 12px;
  right: 92px;
  width: 14px;
  height: 16px;
  background: url(../img/bookmark_icon.png);
  background-repeat: no-repeat;
}

.basket-icon::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 6px;
  width: 17px;
  height: 16px;
  background: url(../img/basket-icon.png);
  background-repeat: no-repeat;
}

.menu-link__text {
  padding-left: 25px;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.text__basket {
  padding-left: 40px;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.menu-order__text {
  padding-left: 20px;
  padding-right: 20px;
  font-family: Cuprum;
  font-weight: 400;
  line-height: 18px;
}


/*to-header__menu ends*/

.header-info {
  width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 44px;
  padding-right: 10px;
  padding-left: 10px;
}

.info-block {
  margin-top: 35px;
  display: flex;
  align-items: center;
  width: 940px;
  justify-content: space-around;
}

.info-text {
  display: flex;
  width: 200px;
  color: #ee3643;
  font-family: Cuprum;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin-left: 39px;
}

.contacts {
  width: 280px;
  height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 45px;
}

.contacts__phone::before {
  content: "";
  left: 10px;
  top: 8px;
  width: 19px;
  height: 19px;
  position: absolute;
  background: url(../img/phone-icon.png);
  background-repeat: no-repeat;
}

.contacts__phone {
  width: 270px;
  height: 45px;
  position: relative;
  text-align: center;
  padding-top: 10px;
  padding-right: 41px;
  padding-left: 58px;
  border: 3px solid #ffffff;
  color: #ee3643;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 4px;
}

.contacts__adress {
  width: 250px;
  margin-left: 7px;
  margin-right: 8px;
  text-align: center;
  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}


/*auth-block starts*/

.auth {
  display: flex;
  width: 300px;
  height: 65px;
  align-items: flex-start;
  margin-bottom: 8px;
}

.enter,
.log-in {
  height: 45px;
  text-decoration: none;
  color: #000000;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 18px;
  background-color: #ffffff;
}

.enter::before {
  content: '';
  position: absolute;
  left: 14px;
  top: 14px;
  width: 30px;
  height: 30px;
  background: url('../img/enter-icon.png');
  background-repeat: no-repeat;
}

.enter {
  position: relative;
  width: 121px;
  margin-right: 10px;
  padding-top: 14px;
  padding-left: 48px;
}

.log-in {
  padding-left: 25px;
  width: 150px;
  padding-top: 14px;
}

.enter__text {
  width: 46px;
  height: 16px;
  padding-top: 14px;
}

.enter:hover,
.log-in:hover {
  color: #ee3643;
}

.enter:active,
.log-in:active {
  color: #c5c5c5;
}


/*auth block end*/


/*nav-block*/

.navigation {
  margin: 0 auto;
  margin-top: 29px;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  background-image: linear-gradient(to top, #32425c 0%, #32425c 99%, #32425c 100%);
}

.nav-list {
  padding: 0;
  display: inline-flex;
  font-size: 0;
  width: 940px;
  height: 60px;
  flex-wrap: nowrap;
}

.nav-item {
  padding-top: 20px;
  width: 137px;
  text-align: center;
  padding-right: 29px;
}

.nav-link__main {
  padding-left: 51px;
}

.nav-link__company {
  padding-left: 29px;
}

.nav-link__catalog {
  padding-left: 24px;
}

.nav-item__news {
  width: 100px;
}

.nav-link__news {
  padding-left: 20px;
}

.nav-link__special {
  padding-left: 10px;
}

.nav-link__delivery {
  padding-left: 14px;
}

.nav-link__contacts {
  padding-right: 6px;
}

.nav-item__special {
  width: 169px;
}

.nav-link {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  list-style-type: none;
}

.nav-item:hover {
  background-color: #293449;
}

.nav-item:active {
  color: #b2b2b2;
  background-color: #1d2739;
}


/*nav-block ends*/


/*header ends*/


/*category section starts*/


/*catalog page*/

.main-wrapper {
  width: 960px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 111px;
}

.catalog-main__section {
  display: flex;
  width: 940px;
  margin-bottom: 20px;
}


/*breadcrumbs*/

.breadcrumbs {
  margin-top: 36px;
  margin-bottom: 9px;
}

.main-nav {
  display: flex;
  width: 400px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.nav-item__home {
  position: relative;
  width: 54px;
  height: 30px;
}

.main-nav__home {
  position: absolute;
  content: "";
  background: url(../img/home-icon.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 12px;
  top: 3px;
}

.main-nav__home::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  background: url(../img/icon-right.png);
  background-repeat: no-repeat;
  left: 28px;
}

.main-nav__item {
  position: relative;
  width: 92px;
  height: 30px;
}

.nav-item__drills {
  width: 120px;
}

.main-nav__link {
  text-decoration: none;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.nav-item__instruments {
  width: 120px;
}

.main-nav__drills {
  padding-left: 5px;
}

.main-nav__catalog::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  background: url(../img/icon-right.png);
  background-repeat: no-repeat;
  left: 69px;
  top: 3px;
}

.main-nav__instruments::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  background: url(../img/icon-right.png);
  background-repeat: no-repeat;
  left: 97px;
  top: 3px;
}


/*breadcrumbs end*/

.drills-page__title {
  width: 940px;
  height: 89px;
  background-color: #f2f6f8;
  margin-bottom: 20px;
}

.drills-page__title h2 {
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 28px;
  margin: 0;
}


/*filter-form*/

.filter-form {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 692px;
  margin-right: 20px;
}

.filter-form__title {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  margin-bottom: 11px;
}

.filter-title {
  padding-top: 11px;
  padding-left: 19px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}


/*filter-price toggle*/

.filter-price-toggle {
  display: flex;
  flex-direction: column;
  height: 197px;
  width: 220px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 16px;
}

.filter-title__price {
  width: 51px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.range__controls {
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
  margin-bottom: 9px;
}

.price-controls {
  display: flex;
  width: 220px;
}

.price-controls input[type='text'] {
  width: 79px;
  margin: 0;
  padding-top: 9px;
  padding-left: 5px;
  border: none;
  font-size: 17px;
  text-align: center;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.min-price {
  margin-right: 30px;
  position: relative;
}

.min-price::after {
  position: absolute;
  content: '—';
  font-size: 10px;
  top: 13px;
  left: 105px;
}

.min-price,
.max-price {
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
  text-align: center;
}


/*filter-price-toggle ends*/


/*filter developers*/

.filter-developers {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 247px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 17px;
}

.filter-developers__title {
  width: 141px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.developers-list {
  list-style-type: none;
  padding-left: 0;
}

.developers__name {
  height: 34px;
  margin-bottom: 5px;
  position: relative;
}

.developers__label {
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 34px;
}

.developers__input {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  background: url(../img/check-off_icon.png);
  background-repeat: no-repeat;
}


/*filter developers ends*/


/*filter supply*/

.filter-supply {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 160px;
}

.filter-supply__title {
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}


/*filter supply ends*/


/*filter-form ends*/


/*catalog-items__Section*/

.catalog-items__section {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  margin-top: 58px;
}

.drill-item:nth-child(6),
.drill-item:nth-child(3),
.drill-item:nth-child(9) {
  margin-right: 0;
}

.paginator {
  display: flex;
  width: 300px;
  margin-top: 29px;
}

.paginator__button {
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin-right: 10px;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 16px;
}

.curent-button {
  width: 38px;
  height: 38px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 16px;
  color: #ffffff;
  background-color: #ee3643;
}

.next-button {
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 15px;
}

.paginator__button,
.next-button {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.paginator__button:hover,
.next-button:hover {
  border: 1px solid #fc3240;
}

.about-drills {
  display: block;
  height: 261px;
  width: 100%;
  background-color: #f2f6f8
}

.about-drills__wrapper {
  display: block;
  margin: 0 auto;
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  color: #000000;
  font-weight: 400;
  line-height: 24px;
}

.about-drills__title {
  display: block;
  font-family: Cuprum;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 15px;
}

.about-drills__text {
  display: block;
  padding-top: 20px;
  font-family: "PT Sans";
font-size: 13px;
width: 938px;
}


/*catalog-items__Section ends*/


/*catalog page ends*/

.category-wrapper {
  margin-top: 75px;
  display: flex;
  width: 940px;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-bottom: 53px;
}


/*сategory-upper__block starts*/

.category-item {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 123px;
}

.category-item:nth-child(3) {
  margin-right: 0;
}

.category-text {
  align-self: flex-start;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding-top: 21px;
  padding-left: 23px;
  margin-bottom: 15px;
}

.category-materials::before {
  position: absolute;
  top: 31px;
  right: 43px;
  content: "";
  width: 44px;
  height: 65px;
  background: url(../img/materials-img.png);
  background-repeat: no-repeat;
}

.category-instruments::before {
  position: absolute;
  top: 33px;
  right: 28px;
  content: "";
  width: 75px;
  height: 61px;
  background: url(../img/instruments-img.png);
  background-repeat: no-repeat;
}

.category-equipment::before {
  position: absolute;
  top: 31px;
  right: 31px;
  content: "";
  width: 78px;
  height: 62px;
  background: url(../img/equipment-img.png);
  background-repeat: no-repeat;
}

.category-sales::before {
  position: absolute;
  top: 26px;
  right: 45px;
  content: "";
  width: 59px;
  height: 72px;
  background: url(../img/sales-img.png);
  background-repeat: no-repeat;
}

.category-delivery::before {
  position: absolute;
  top: 32px;
  right: 31px;
  content: "";
  width: 78px;
  height: 63px;
  background: url(../img/delivery-img.png);
  background-repeat: no-repeat;
}

.flag-new::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 59px;
  top: 0;
  right: 0;
  background: url(../img/new-flag_icon.png);
  background-repeat: no-repeat;
}

.category-btn {
  background-color: rgba(0, 0, 0, 0.17);
  align-self: flex-start;
  width: 135px;
  height: 38px;
  text-decoration: none;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 25px;
  padding-top: 8px;
}

.materials-btn {
  padding-top: 8px;
  padding-left: 25px;
}

.instruments-btn {
  padding-top: 8px;
  padding-left: 27px;
}

.equipment-btn {
  padding-top: 9px;
  padding-left: 30px;
}

.sales-btn {
  padding-left: 22px;
}

.delivery-btn {
  padding-left: 36px;
}

.category-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}


/*galleria*/

.category-gallery {
  position: relative;
  margin-right: 20px;
  width: 620px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/guy-with-drill.jpg");
  background-repeat: no-repeat;
}

.category-gallery-title {
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 105px;
}

.gallery-title {
  padding-top: 26px;
  padding-left: 26px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.gallery-text {
  padding-left: 25px;
  padding-top: 3px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.gallery-btn {
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 101px;
  margin-left: 25px;
  padding-top: 11px;
  padding-left: 49px;
  padding-bottom: 14px;
}

.gallery-btn:hover {
  background: #eb2934;
}

.gallery-btn:active {
  background: #d8222f;
}

.gallery-button {
  position: absolute;
  content: "";
  width: 22px;
  height: 40px;
  background: none;
  border: none;
}

.gallery-btn__prev {
  left: 25px;
  top: 114px;
  width: 22px;
  height: 40px;
  background-image: url(../img/gallery-btn__prev.png);
}

.gallery-btn__next {
  top: 114px;
  right: 20px;
  background-image: url(../img/gallery-btn__next.png);
}


/*gallery-block ends*/

.category-right__column {
  width: 300px;
  display: flex;
  flex-direction: column;
  order: 2;
}

.category-sales,
.category-delivery {
  margin-right: 0;
}

.category-delivery {
  margin-bottom: 0;
}

.category-materials {
  display: flex;
  background-color: #f6b22d;
}

.category-instruments {
  display: flex;
  background-color: #4aafde;
}

.category-equipment {
  display: flex;
  background-color: #cc79d1;
}

.category-sales {
  background-color: #85d179;
}

.category-delivery {
  background-color: #f6b22d;
}


/*popular items section*/

.popular-items {
  margin: 0 auto;
  width: 940px;
}

.popular-items__top {
  display: flex;
  align-items: center;
  background-color: #f7f3ec;
  height: 89px;
  margin-bottom: 20px;
}

.popular-items__title {
  margin-left: 30px;
  margin-right: 370px;
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-items__btn {
  border-radius: 3px;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 55px;
}

.popular-items__bottom {
  display: flex;
  flex-wrap: nowrap;
}

.drill-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 318px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin-right: 20px;
  align-items: center;
  margin-bottom: 21px;
}


/*drill-actions__hover*/


/*.drill__actions {
  display: none;
  content: "";
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 218px;
  height: 88px;
}
.actions-buy,
.actions-bookmarks {
 width: 135px;
}
.actions-buy {
  background-color: #27a831;
  padding-top: 5px;
  padding-left: 20px;
}*/


/*drill-actions__hover ends*/

.drill-item:hover {
  border-color: #ffffff;
  box-shadow: 4px 5px 33px -5px #000000;
}

.drill-item:last-child {
  margin-right: 0;
}

.img__bfg-3000 {
  margin-top: 28px;
  margin-right: 11px;
  margin-bottom: 38px;
}

.img__bfg-2000 {
  margin-top: 28px;
  margin-right: 27px;
  margin-bottom: 38px;
}

.img__bfg-9000 {
  margin-top: 5px;
  margin-bottom: 9px;
}

.img__bfg-6000 {
  margin-top: 21px;
  margin-right: 20px;
  margin-bottom: 29px;
}

.drill-title {
  width: 158px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.drill-title__2000 {
  margin-bottom: 40px;
}

.drill-title span {
  text-transform: capitalize;
}

.drill-price__old {
  width: 67px;
  color: #999999;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.drill-btn {
  position: relative;
  width: 141px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 36px;
  border-radius: 3px;
  margin-left: 8px;
}

.drill-btn::after {
  content: '';
  position: absolute;
  top: 0;
  right: -18px;
  width: 0;
  height: 0;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.drill-item:last-child::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 59px;
  top: -1px;
  left: 160px;
  background: url(../img/new-flag_icon.png);
  background-repeat: no-repeat;
}


/*popular items section ends*/


/*popular-manufacturers*/

.popular-manuf {
  margin: 0 auto;
  width: 940px;
  margin-bottom: 85px;
}

.popular-manuf__top {
  display: flex;
  height: 89px;
  background-color: #f7f3ec;
  margin-bottom: 20px;
  align-items: center;
}

.popular-manuf__title {
  margin-left: 24px;
  margin-right: 273px;
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-manuf__btn {
  border-radius: 3px;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 9px;
  padding-left: 69px;
}

.popular-manuf__bottom {
  display: flex;
  flex-wrap: wrap;
}

.manuf__item {
  display: flex;
  width: 220px;
  height: 145px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin-right: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.img__metabo {
  margin-left: 8px;
  margin-bottom: 8px;
}

.img__interscol {
  margin-bottom: 14px;
}

.img__makita {
  margin-left: 2px;
  margin-bottom: 5px;
}

.img__dewalt {
  margin-left: 3px;
  margin-bottom: 5px;
}

.img__hitachi {
  margin-left: 8px;
}

.img__aeg {
  margin-left: 5px;
}

.item__interscol,
.item__metabo {
  margin-right: 0;
}

.item__hitachi,
.item__lg,
.item__aeg,
.item__metabo {
  margin-bottom: 0;
}

.manuf__item:hover {
  border-color: #ffffff;
  box-shadow: 0px 5px 23px -3px #000000;
}

.manuf__item:active {
  border-color: #ffffff;
  opacity: 0.4;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}


/*popular-manufacturers ends*/


/*services section*/

.services {
  width: 100%;
  height: 522px;
  background-color: #f2f6f8;
  margin-bottom: 82px;
}

.services-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 940px;
  position: relative;
}

.services-about {
  display: flex;
  flex-direction: column;
  margin-top: 68px;
  width: 398px;
  color: #000000;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 74px;
}

.services-about__title {
  width: 130px;
  font-family: Cuprum;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.services-about__text {
  font-family: "PT Sans";
  font-size: 13px;
}

.services-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex-wrap: wrap;
  height: 283px;
  width: 240px;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  margin-right: 80px;
  text-transform: capitalize;
  list-style-type: none;
}

.services-wrapper::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  background: url(../img/slider-options__after.png);
  background-repeat: no-repeat;
  top: 189px;
  left: 230px;
}

.services-slider input[type='radio'] {
  display: none;
}

.options-select__label {
  height: 61px;
  color: #ffffff;
  box-shadow: inset 0 -1px 0 #293449;
  background-color: #32425c;
  padding-left: 23px;
  padding-top: 7px;
  width: 240px;
}

.options-select__label:hover {
  background-color: #1d3247;
}

.options-input__delivery:checked~.select__delivery,
.options-input__guarantee:checked~.select__guarantee,
.options-input__credit:checked~.select__credit {
  background-color: #ffffff;
  color: #243f5a;
}

.options-input__delivery:checked~.services-slider__delivery {
  display: block;
}

.options-input__guarantee:checked~.services-slider__guarantee {
  display: block;
}

.options-input__credit:checked~.services-slider__credit {
  display: block;
}

.services-slider__popup {
  height: 278px;
  display: none;
  width: 720px;
}

.services-slider__delivery {
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: 92% 102%;
}

.services-slider__guarantee {
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  background-position: right;
}

.services-slider__credit {
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: right;
}

.services-slider__text {
  display: block;
  padding-left: 80px;
  font-weight: 400;
  line-height: 24px;
  height: 172px;
  width: 379px;
}

.slider-text__title {
  display: block;
  margin-bottom: 26px;
  color: #32425c;
  font-family: Cuprum;
  font-size: 36px;
  text-transform: uppercase;
}

.slider-text {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
}

.credit-text {
  display: block;
  margin-bottom: 20px;
}

.credit-btn {
  display: block;
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 14px;
  padding-left: 44px;
  border-radius: 3px;
}

.credit-btn:hover {
  background-color: #eb2934;
}


/*services sections ends*/


/*about-companies section*/

.about-companies {
  display: flex;
  margin: 0 auto;
  width: 940px;
  margin-bottom: 86px;
}

.about-companies__text {
  display: flex;
  flex-direction: column;
  width: 519px;
  color: #000000;
  font-weight: 400;
  margin-right: 121px;
}

.about-title {
  font-family: Cuprum;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.about-text {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}

.text-paragraph__1 {
  margin-bottom: 24px;
}

.text-paragraph__2 {
  margin-bottom: 5px;
}

.about-companies__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 16px;
}

.companies-list__item {
  position: relative;
  padding-left: 38px;
  font-family: Cuprum;
  font-size: 18px;
  line-height: 20px;
  list-style-type: none;
  padding-bottom: 20px;
}

.companies-item__1::before,
.companies-item__2::before,
.companies-item__3::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 9px;
  left: 1px;
  background-color: #fb565a;
}

.about-btn {
  height: 38px;
  width: 220px;
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-left: 41px;
  text-decoration: none;
  border-radius: 3px;
}

.about-companies__contacts {
  display: flex;
  flex-direction: column;
}

.companies-contacts__title,
.companies-contacts__text {
  width: 179px;
  color: #000000;
  font-weight: 400;
  line-height: 24px;
}

.companies-contacts__title {
  font-family: Cuprum;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.companies-contacts__text {
  font-family: "PT Sans";
  font-size: 13px;
  margin-bottom: 31px;
}

.companies-contacts__map {
  margin-bottom: 37px;
}

.companies-contacts__btn {
  width: 300px;
  height: 38px;
  background-color: #ee3643;
  text-decoration: none;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-left: 65px;
  border-radius: 3px;
}


/*about-companies section ends*/


/*.modal-content {
  position: absolute;
  top: 120px;
  left: 50%;

  display: none;
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;

  color: #000000;

  background: #f8f3f0 url("img/pattern-white.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;

  display: none;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;

  background: #e9e5dc url("img/map.png");
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}*/


/*footer*/

footer {
  width: 100%;
  background-color: #32425c;
}

.footer-wrapper {
  width: 940px;
  margin: 0 auto;
}


/*footer-top*/

.footer-top {
  display: flex;
  margin-bottom: 50px;
}

.footer-top__left {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 55px;
}

.footer-logo {
  display: flex;
  width: 220px;
  height: 68px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  margin-bottom: 28px;
}

.logo-button {
  padding-top: 21px;
  padding-left: 41px;
  width: 138px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-contacts {
  display: flex;
  color: #f1f5f7;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 3px;
}

.footer-top__right {
  width: 550px;
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.footer-nav {
  width: 556px;
}

.footer-nav__list {
  display: flex;
  padding-left: 0;
  list-style-type: none;
  text-transform: capitalize;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.footer-list__map {
  width: 556px;
  margin-bottom: 34px;
}

.footer-nav__category {
  margin-left: 30px;
}

.list-item__map {
  width: 120px;
}

.item-map__link {
  color: #f1f5f7;
  text-decoration: none;
}

.map-link__company {
  padding-left: 8px;
}

.map-link__news {
  padding-left: 27px;
}

.map-link__catalog {
  padding-left: 32px;
}

.map-link__delivery {
  padding-left: 38px;
}

.map-link__contacts {
  padding-left: 50px;
}

.list-item__category {
  width: 115px;
}

.item-category__link {
  color: #ffd180;
  text-decoration: none;
}

.category-link__equipment {
  padding-left: 26px;
}

.category-link__instruments {
  padding-left: 26px;
}

.category-link__special {
  padding-left: 53px;
}


/*footer-bottom*/

.footer-bottom {
  background-color: #293449;
  background-size: 100%;
}

.footer-bottom__container {
  width: 940px;
  align-items: center;
  height: 107px;
  display: flex;
}

.footer-copyright {
  width: 227px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 163px;
  ;
}

.footer-social {
  display: flex;
  width: 143px;
  height: 45px;
  margin-top: 7px;
  margin-right: 108px;
}

.social-vk,
.social-fb,
.social-insta {
  display: block;
  position: relative;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50%;
  margin-right: 5px;
}

.social-vk:hover,
.social-fb:hover,
.social-insta:hover {
  background-color: #fe3442;
}

.social-vk:active,
.social-fb:active,
.social-insta:active {
  background-color: #fe3442;
}

.social-vk::after {
  width: 20px;
  height: 12px;
  content: "";
  position: absolute;
  background: url(../img/vk-icon.png);
  background-repeat: no-repeat;
  top: 15px;
  left: 10px;
}

.social-fb::after {
  width: 10px;
  height: 18px;
  position: absolute;
  content: "";
  background: url(../img/fb-icon.png);
  background-repeat: no-repeat;
  left: 15px;
  top: 10px;
}

.social-insta::after {
  width: 17px;
  height: 17px;
  position: absolute;
  content: "";
  background: url(../img/insta-icon.png);
  background-repeat: no-repeat;
  top: 11px;
  left: 11px;
}

.footer-communication {
  width: 135px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  margin-right: 53px;
}

.mail-to,
.developed-by {
  color: #ffd180;
  text-decoration: none;
}

.mail-to:hover,
.developed-by:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mail-to:active,
.developed-by:active {
  color: #f4344d;
  cursor: pointer;
}

.footer-developed {
  width: 96px;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}


/*fooer-top ends*/
